/* Set the body to cover the entire viewport and remove default margin */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  /* Use Flexbox to center the container */
  .not-found-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;  /* Full viewport height */
    text-align: center;
  }