.bordered-table {
    border-collapse: collapse;
}

.bordered-table .ant-table-thead>tr>th {
    border: 1px solid #E2E2E3;
}

.bordered-table .ant-table-tbody>tr>td {
    border: 1px solid #E2E2E3;
    padding: 2px 10px !important;
}

.bordered-table .ant-table-tbody>tr {
    border: 1px solid #E2E2E3;
    padding: 2px 10px !important;
    background-color: white;
}

.bordered-table .ant-table-tbody>tr:hover,
.bordered-table .ant-table-tbody>tr:hover>td {
    background-color: transparent !important;
}